.App {
  text-align: center;
  background-color: #d1d8e5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6em 0;
  position: relative;
}

.alterna-carrinho {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  color: #323232;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
