.App {
  text-align: center;
  background-color: #d1d8e5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6em 0;
}

.carrinho {
  background-color: #ffffff;
  width: 60%;
  max-width: 575px;
  border-radius: 15px;
  box-shadow: 1px 1px 20px #aaaaaa;
}

.lista-de-produtos {
  width: 90%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.titulo-carrinho {
  border-bottom: 2px solid #dddddd;
}

.titulo-carrinho h1 {
  font-size: 1.7rem;
}

.item-carrinho {
  max-width: 100%;
  display: flex;
  margin-top: 1.75em;
}

.imagem-produto-wrapper {
  min-width: 125px;
  height: 125px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-produto {
  width: 95%;
  height: 100%;
}

.dados-produto {
  width: 90%;
  padding: 0.5em 1.5em;
  text-align: left;
}

.nome-produto {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5em 0;
}

.preço-listado {
  font-size: 0.8rem;
  margin: 0 0 0.5em 0;
}

.preço-cobrado {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.total-carrinho-container {
  margin-top: 1.5em;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
}

.total-carrinho {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}

.total-carrinho p {
  font-weight: 700;
  font-size: 1.5rem;
}

.frete-gratis p {
  color: #217a02;
  background-color: #c7ffa6;
  width: fit-content;
  margin: -1em auto 1em;
  padding: 8px 20px;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: 600;
}

.btn-finalizar-compra {
  width: 90%;
  max-width: 500px;
  margin: 1.5em auto;
  padding: 1em 0;
  border: none;
  border-radius: 10px;
  font-size: 1.35rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background-color: #3b74f2;
  cursor: pointer;
}
